#usersBox {
  ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;

    li {
      list-style: none;
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}