<p class="h3 text-center">Доброго пожаловать <%= data.user.login %>.</p>
<hr>

<p class="h4">
    Поздравляю с успешной регистрацией. Теперь можно пройти в <a href="/chat">чат</a>. Позови кого ни будь. Попробуйте
    положить этот чат =)
</p>

<hr>
<p class="h6 text-left">
    Для реализации были применены следующие технологии: NodeJS, MongoDB, TypeScript, SCSS, Express, Socket.IO, React,
    Bootstrap, WebPack.
    Посмотреть исходники этого чуда можно по <a href="https://bitbucket.org/vicimpa/site-and-chat" target="_blank">этой
        ссылке</a>. В общем пишите если что мне в
    <a href="https://vk.com/vicimpa">вконтакте</a>.
</p>