<div class="chat" data-login="<%= data.user.login %>">
    <table>
        <tbody>
        <tr>
            <td class="users-list">
                <div id="usersBox" class="users-box"></div>
            </td>
            <td class="messages-container">
                <div class="messages-box">
                    <div class="messages-table">
                        <div class="messages-table-cell" id="messagesBox"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="height: 0">
            <td colspan="2">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="message-text" placeholder="Message">
                        <div class="input-group-addon button" id="message-send">Send</div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>