<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3 jumbotron">
        <% if(data.error) { %>
        <p class="h5 text-danger text-center"><%- data.error %></p>
        <% } %>
        <form method="POST" class="form ">
            <div class="form-group has-success">
                <label class="form-control-label">Логин</label>
                <input <% if(data.preData && data.preData.login){ %>value="<%= data.preData.login %>"
                        <% } %>
                       type="text" name="login" class="form-control is-valid">
            </div>

            <div class="form-group has-danger">
                <label class="form-control-label">Пароль</label>
                <input <% if(data.preData && data.preData.password){ %>value="<%= data.preData.password %>"
                        <% } %>
                       type="password" name="password" class="form-control is-invalid">
            </div>

            <button type="submit" class="btn btn-block btn-primary">Войти</button>
        </form>
    </div>
</div>