<p class="h3 text-center">Доброго времени суток.</p>
<hr>
<p class="h4 text-left">
    Сейчас Вы имеете честь наблюдать то, что можно написать за 8 часов. Это более или менее рабочий чат.
    Для реализации были применены следующие технологии: NodeJS, MongoDB, TypeScript, SCSS, Express, Socket.IO, React,
    Bootstrap, WebPack.
    Посмотреть исходники этого чуда можно по <a href="https://bitbucket.org/vicimpa/site-and-chat" target="_blank">этой
        ссылке</a>. В общем пишите если что мне в
    <a href="https://vk.com/vicimpa">вконтакте</a>.
</p>

<hr>
<p class="h5 text-center">
    Рекомендую пройти простую регистрацию и попробовать сей чудо.
</p>