@import "bootstrap";

html, body {
  width: 100%;
  height: 100%;
  min-width: 1000px;

  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?51w97e');
  src: url('/fonts/icomoon.eot?51w97e#iefix') format('embedded-opentype'),
  url('/fonts/icomoon.ttf?51w97e') format('truetype'),
  url('/fonts/icomoon.woff?51w97e') format('woff'),
  url('/fonts/icomoon.svg?51w97e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  padding-top: 43px;
  height: 100%;

  .chat {
    height: 100%;
    widht: 100%;
    background: #555;

    table {
      width: 100%;
      height: 100%;

      td {
        padding: 10px;
      }

      input {
        font-family: 'icomoon' !important;
      }

      .button {
        cursor: pointer;
      }

      .messages-container {
        width: auto;
        vertical-align: bottom;

        .messages-box {
          width: 100%;
          height: 100%;
          max-height: 100%;
          overflow-y: scroll;
          padding: 3px;
          background: #fff;

          .messages-table {
            display: table;
            width: 100%;
            height: 100%;

            .messages-table-cell {
              display: table-cell;
              width: 100%;
              height: 100%;
              vertical-align: bottom;
              font-family: 'icomoon' !important;

              .message {
                width: 100%;
                text-align: left;

                &.me {
                  text-align: right;
                }

                .message-container {
                  display: inline-block;
                  max-width: 500px;
                  padding: 20px 40px;
                  margin: 3px auto;
                  text-align: left;

                  .h4, .h5 {
                    padding: 0;
                    margin: 0;
                  }

                  .h4 {
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-decoration: underline;
                  }

                  .h5 {
                    padding-top: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #999;
                  }
                }
              }
            }
          }
        }
      }

      .users-list {
        width: 300px;
        background: rgba(0, 0, 0, 0.3);

        .users-box {
          max-height: 100%;
          height: 100%;
          overflow-y: scroll;
        }
      }

      .form-group {
        margin-bottom: 0;
      }

      .input-group {
        width: 100%;
      }
    ;
    }
  }
}