<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<script>-->
    <!--document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +-->
    <!--':35729/livereload.js?snipver=1"></' + 'script>')-->
    <!--</script>-->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/scripts/style.css">
    <title><%= data.title %></title>
</head>
<body>
<header class="container">
    <nav class="row">
        <div class="col-xs-6">
            <ul class="list-inline  text-left">
                <li class="btn btn-default" onclick="location.href='/'">Главная</li>
                <li class="btn btn-default" onclick="location.href='/chat'">Чат</li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-inline text-right">
                <% if(data.user){ %>
                <li class="btn btn-default" disabled="">Логин: <b><%= data.user.login %></b></li>
                <li class="btn btn-danger" onclick="location.href='/logout'">Выход</li>
                <% }else { %>
                <li class="btn btn-success" onclick="location.href='/login'">Вход</li>
                <li class="btn btn-primary" onclick="location.href='/register'">Регистрация</li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>
<div class="container main">
    <% if(data.header) { %>
    <h1 class="text-center"><%= data.header %></h1>
    <% } %>

    <% if(data.page) { %>
    <%- include( 'common/' + data.page, {data: data}) %>
    <% } %>
</div>
<script src="/assets/vendor/react.development.js"></script>
<script src="/assets/vendor/react-dom.development.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/main.js"></script>
</body>
</html>